* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(229, 233, 237);
  min-height: 100vh;
  position: relative;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

h1 {
  margin: 30px;
}

.players {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  position: relative;
}

#gameboardGrid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
}

.cell {
  height: 75px;
  width: 75px;
  background-color: grey;
  border: 1px solid black;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.reset {
  text-align: center;
  margin: 1em;
}

.reset button {
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  /* border: 1px solid grey; */
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.winnerOne::before {
  color: black;
  background-color: rgb(78, 181, 78);
  position: absolute;
  content: "Winner!";
  bottom: -2px;
  left: -14px;
  padding: 3px 18px 28px 18px;
  border-radius: 10px;
  z-index: -1;
}
.winnerTwo::before {
  color: black;
  background-color: rgb(78, 181, 78);
  position: absolute;
  content: "Winner!";
  bottom: -2px;
  right: -14px;
  padding: 3px 16px 28px 16px;
  border-radius: 10px;
  z-index: -1;
}

.tie {
}
